<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style/main.css">
    <script src="static/jquery-3.6.4.js"></script>
    <meta charset="UTF-8">
    <title>Вхід</title>
</head>
<body>
    <main>
        <h1>Авторизація</h1>
        <div class="admin">

        </div>
        <div class="authorization">
            <input type="text" id="login" placeholder="Логін" class="input">
            <input type="text" id="password" placeholder="Пароль" class="input">
            <button onclick="submit()" type="submit" class="btn">Вхід</button>
        </div>
    </main>
    <script src="static/admin.js"></script>
</body>
</html>